.ad-card {
  display: flex;
  gap: 20px;

  max-width: 900px;
  min-height: 378px;
  margin: 0 auto 20px;
  padding: 16px;

  border-radius: 10px 10px 0 0;
  
  border-bottom: 2px solid #003663;
}

.ad-card img {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 8px;
}

.ad-info h3 {
  margin: 0 0 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #0b5ed7;
}

.ad-actions {
  margin-top: 10px;
}

.ad-actions button {
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}
.ad-info .seller {
  margin-top: 6px;
  font-size: 13px;
  color: #555;
  font-style: italic;
}